@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    margin: 0;
    padding: 0 300px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}

.logo {
    font-size: 24px;
    font-weight: 700;
}

.header-links {
    display: flex;
    gap: 8px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a, p, button {
    font-size: 18px;
    color: #e5e7eb;
}


h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

h1, button, .logo {
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    font-weight: 900;
    border: 0;
    border-radius: 8px;
    padding: 8px 20px;
}

.hero {
    display: flex;
    gap: 24px;
    padding: 100px 0px;
}

.hero-info{
    flex: 1;
    padding: 20px 0;

}

.hero-image {
    color: lightgray;
    background-color: rgba(169, 169, 169, 0.418);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.info-section {
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px;
    padding-bottom: 96px;
}

.image {
    

}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
}

.frame {
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 20px;
}

.image p {
    color: rgb(124, 124, 124);
    width: 200px;
    text-align: center;
}